.recipe{
    border: 2px solid maroon;
    background-color: pink;
    margin-bottom: 4px;
    margin-top: 40px;
    padding: 30px;
}
.recipe button#del {
    background-color:white;
    color: black;
    font-family: cursive;
    font-size: 20px;
    float: right;
    
}
.recipe button#edit {
    background-color:white;
    color: black;
    font-family: cursive;
    font-size: 20px;
    float: right;
    

}


#addbtn{
    background-color: green;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    float: left;
    border: 1px solid green;
    padding: 8px;
    border: white;
    border-width: 2px;
}


.btn2{

    background-color: green;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    float: left;
    border: 1px solid green;
    padding: 8px;
    border-color: white;
    border-width: 2px;

}
.main h1{
    background-color: brown;
    color: white;
    font-size: 50px;
    width: 350px;
     margin-left: 53
     0px; 
     text-align: center;
     justify-content: center;
     

}
body{
    background-color:white;
}
#recipe img{
width: 1000px;
height: 500px;

}
#recipe{
    text-align: center;
}
.recipeh2{
    color:white;
    background-color:purple;
    font-weight: bolder;
    width: 100%;
    padding: 30px;
    text-align: center;
    
}
#recipe em{
    color: yellowgreen;
    font-weight: lighter;

}

#link{
    text-align: center;
   
}
#link button{
    background-color: yellowgreen;
    color: teal;
    width: 200px;
    height: 60px;

}
a:visited {
background-color:green;
  }
  .dropbtn {
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .container1 .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-70%, -60%);
    -ms-transform: translate(-70%, -70%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 24px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container1 .btn:hover {
    background-color: black;
  }
